
.clr:after{
	content:"";
	display:block;
	clear:both;
}

.hexagons{

	$hexagons-max-width: 800px;
	max-width: $hexagons-max-width;

	overflow:hidden;
	margin: 0 auto;
	padding:0px;
	
	li{
		position:relative;
		list-style-type:none;
		float:left;
		overflow:hidden;
		
		width:27.85714285714286%; /* = (100-2.5) / 3.5 */
		padding-bottom: 32.16760145166612%; /* =  width /0.866 */

		transform: rotate(-60deg) skewY(30deg);
	}
	
	li:nth-child(3n+2){
		margin:0 1%;
	}
	
	li:nth-child(6n+4){
		margin-left:0.5%;
	}
	
	li:nth-child(6n+4), li:nth-child(6n+5), li:nth-child(6n+6) {
		margin-top: -6.9285714285%;
		margin-bottom: -6.9285714285%;
		transform: translateX(50%) rotate(-60deg) skewY(30deg);
	}
	
	li:nth-child(6n+4):last-child, li:nth-child(6n+5):last-child, li:nth-child(6n+6):last-child{
		margin-bottom:0%;
	}

	li > div{
		position:absolute;
		visibility:visible;

		width:100%;
		height:100%;
		text-align:center;
		overflow:hidden;
		
		transform: skewY(-30deg) rotate(60deg);

		display: flex;
		align-items:center;
		justify-content: center;
	}
}