html,body{
	margin: 0;
	padding: 0;
	height:100%;
	width:100%;
}

*{
	user-select: none;
}

.wi{font-weight: bold;}

body{
	font-family:"Spicy Rice";
	color:#fff;
	background-color:darkslategrey;

	.cc{
		position:absolute;
		bottom:5px;
		background-color: orange;
		border-radius: 5px;
		padding:3px;
		font-size:1em;
	}

	.hexagons{
		$hexagons-max-width: 800px;
		.hexagon{
			background-color:orange;
			&.button:hover{
				cursor: pointer;
				background-color:#2196F3;
			}
			&.button:active,&.button:focus{
				background-color:orange;
			}

		}

		#title-h{font-size:6vw;}
		#city-h{font-size:5vw;&.smaller{font-size: 4.5vw;}}
		#icon-h{font-size: 15vw;}
		#temp-h{font-size: 12vw;&.smaller{font-size: 10vw;}}

		@media (min-width:$hexagons-max-width){
			#title-h{font-size:45px;}
			#city-h{font-size: 45px;&.smaller{font-size: 40px;}}
			#icon-h{font-size: 120px;}
			#temp-h{font-size: 105px;&.smaller{font-size:85px;}}
		}
	}	
}