html,body{
	margin: 0;
	padding: 0;
	height:100%;
}

.wi{font-weight: bold;}

body{
	font-family:"Spicy Rice";
	color:#fff;
	background-color:darkslategrey;

	.cc{
		position:absolute;
		bottom:5px;
		background-color: orange;
		border-radius: 5px;
		padding:3px;
		font-size:1em;
	}

	.hexagons{
		$hexagons-max-width: 800px;
		.hexagon{
			background-color:orange;

			.hover{display:none;}
			&:hover{
				cursor: pointer;
				background-color:darkorange;

				.front{display:none;}
				.hover{display:initial;}
			}

		}

		#title-h{font-size:6vw;}
		#city-h{font-size:5vw;&.smaller{font-size: 4.5vw;}}
		#icon-h{font-size: 15vw;}
		#temp-h{font-size: 12vw;&.smaller{font-size: 10vw;}}

		@media (min-width:$hexagons-max-width){
			#title-h{font-size:45px;}
			#city-h{font-size: 45px;&.smaller{font-size: 40px;}}
			#icon-h{font-size: 120px;}
			#temp-h{font-size: 105px;&.smaller{font-size:85px;}}
		}
	}

	
}
		
		/* #city,#icon,#temp{
			background: url(http://ste.india.com/sites/default/files/2015/11/17/432792-stars.jpg) no-repeat;
    		background-size: cover;
    		-webkit-background-clip: text;
    		-webkit-text-fill-color: transparent;
		}
		#city{font-size:4em;} */
		
