/* html,body{
	margin: 0;
	padding: 0;
	height:100%;
} */

// .wi{font-weight: bold;}

body{
	font-family:"Spicy Rice";
	
	.cc{
		position:absolute;
		bottom:5px;
		background-color: orange;
		border-radius: 5px;
		padding:3px;
		font-size:1em;
	}

	ul > li > div{
		display: flex;
		align-items:center;
		justify-content: center;
	}
	#city{
		font-size:5vw;
	}
	#icon-h{
		font-size: 15vw;
	}
	#temp-h{
		font-size: 11vw;
	}
	
}
		
		/* #city,#icon,#temp{
			background: url(http://ste.india.com/sites/default/files/2015/11/17/432792-stars.jpg) no-repeat;
    		background-size: cover;
    		-webkit-background-clip: text;
    		-webkit-text-fill-color: transparent;
		}
		#city{font-size:4em;} */
		
